@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Intro */

/* About */

/* Tech Stacks */
.tech-stack-card {
  @apply text-center mt-3 text-xl;
}

.skill-card {
  @apply border rounded-lg p-2 m-2 text-sm;
}

/* Footer */

.footer-social-header {
  @apply text-3xl font-bold font-subHeading text-secondary;
}

.footer-social-links {
  @apply text-xl pt-6 font-content hover:cursor-pointer;
}

/* Work Experience */

/* Project Card */
.project-card-link-icons {
  @apply w-8 text-white  mx-2 transform hover:scale-125 duration-300;
}

/* Project Display Section */