@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Intro */

/* About */

/* Tech Stacks */
.tech-stack-card {
  @apply text-center mt-3 text-xl;
}

.skill-card {
  @apply border rounded-lg p-2 m-2 text-sm;
}

/* Footer */

.footer-social-header {
  @apply text-3xl font-bold;
}

.footer-social-links {
  @apply text-xl pt-6;
}